<ion-header>
  <ion-navbar color="light">
    <ion-title *ngIf="orderItem">{{ 'ITEM_NOTE' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="viewCtrl.dismiss(orderItem)" *ngIf="orderItem">
        <ion-icon color="dark" name="checkmark"></ion-icon>
      </button>
      <button ion-button (click)="viewCtrl.dismiss()">
        <ion-icon color="dark" name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-textarea class="textarea" *ngIf="orderItem" autosize name="note" rows="5" [(ngModel)]="orderItem.note" placeholder="{{ 'NOTE' | translate }}"></ion-textarea>
</ion-content>