<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'LABEL.ORDER_HISTORY' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="page; else nodata">
    <button ion-item *ngFor="let order of page.data" (click)="showOrder(order)">
      <p>
        <span class="bold dark">{{ order.createdDate | moment:'ago':lang | lowercase}}</span>
        -
        <span class="bold primary">{{ order.createdBy }}</span>
      </p>
      <p>
        <span class="bold dark">{{ order.transactionNumber }}</span>
        - 
        <span>{{ order.id }}</span>
      </p>
      <p text-wrap>{{ getProducts(order) | shorten:300 }}</p>
    </button>
    <ion-item>
      <ion-buttons>
        <button ion-button small outline [disabled]="page.isFirst()" (click)="previous()">
          {{ 'BUTTON.PREVIOUS' | translate }}
        </button>
      </ion-buttons>
      <ion-buttons item-end>
        <button ion-button small outline [disabled]="page.isLast()" (click)="next()">
          {{ 'BUTTON.NEXT' | translate }}
        </button>
      </ion-buttons>
    </ion-item>
  </ion-list>

</ion-content>
<ng-template #nodata>
  <ion-item>
    {{ 'MESSAGE.NO_DATA' | translate }}
  </ion-item>
</ng-template>