page-login {
    .splash-bg {
        position: relative;
        background: url('../assets/img/splashbg.png') no-repeat transparent;
        background-size: cover;
        height: 45%;
        z-index: 1;
        background-repeat: repeat-x;
    }
    .splash-info {
        position: relative;
        z-index: 2;
        margin-top: -64px;
        text-align: center;
    }
    .splash-logo {
        margin: auto;
        background: url('../assets/img/appicon.png') repeat transparent;
        background-size: 100%;
        width: 128px;
        height: 128px;
    }
    .login {
        margin: 20px;
    }

    .list-md,
    .list-ios,
    .list-wp {
        margin: 0;
        padding: 0;
    }
    .item-md,
    .item-ios,
    .item-wp {
        margin: 0;
        padding: 0 10px;
    }

    @media only screen and (min-width: 768px) {
        .login {
            margin: 0 auto;
            max-width: 40%;
        }
    }
}