page-login {
    ion-content {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-color: transparent;
    }
    
    .logo-wrapper {
        margin: 0 auto;
        width: 250px;
    }
    .logo {
        text-align: center;
        padding: 0;
        margin: 0 0 20px 0;
    }
    .logo span {
        display: inline-block;
        font-size: 4.8rem;
        font-weight: 500;
        text-transform: lowercase;
        font-family: 'Paytone One', sans-serif;
        color: color($colors, dark);
        line-height: 1;
    }
    .logo span fa-icon {
        font-size: 4rem;
        text-shadow: none;
    }
    .logo span em {
        margin-top: -8px;
        position: absolute;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: color($colors, secondary);
    }
    .form-wrapper{
        width: 100%;
        padding-bottom: 20px;
        position: fixed;
        bottom: 0;
    }
    form {
        margin: 0 auto;
        border-radius: 10px;
        background-color: #ececec;
        padding: 15px;
        max-width: 80%;
    }
    .list-md,
    .list-ios,
    .list-wp {
        margin: 0;
        padding: 0;
    }
    .item-md,
    .item-ios,
    .item-wp {
        margin: 0;
        padding: 0 10px;
        background: transparent;
    }
    @media only screen and (min-width: 576px) {
        form {
            max-width: 60%;
        }
    }
    @media only screen and (min-width: 768px) {
        form {
            max-width: 50%;
        }
    }
    @media only screen and (min-width: 992px) {
        form {
            max-width: 45%;
        }
    }
    @media only screen and (min-width: 1200px) {
        form {
            max-width: 40%;
        }
    }
}