<ion-header>
  <ion-navbar>
    <ion-title *ngIf="product && product.id === ''">{{ 'PRODUCT' | translate }} - {{ 'CREATE' | translate }}</ion-title>
    <ion-title *ngIf="product && product.id !== ''">{{ 'PRODUCT' | translate }} - {{ 'MODIFY' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="save()" [disabled]="!isReadyToSave" strong>
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="saveConfirm()">
    <input type="file" #fileInput class="fileinput" name="files[]" (change)="processWebImage($event)" />
    <div class="image-wrapper">
      <div class="image" (click)="getPicture()">
        <div class="background" [style.backgroundImage]="getImageStyle()">
          <ion-icon name="add-circle"></ion-icon>
        </div>
      </div>
    </div>
    <ion-item>
      <ion-label color="primary" stacked>{{ 'NAME' | translate }}</ion-label>
      <ion-input type="text" placeholder="{{ 'NAME' | translate }}" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>{{ 'DESCRIPTION' | translate }}</ion-label>
      <ion-input type="text" placeholder="{{ 'DESCRIPTION' | translate }}" formControlName="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>{{ 'PRICE' | translate }}</ion-label>
      <ion-input type="number" placeholder="{{ 'PRICE' | translate }}" formControlName="price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>{{ 'CATEGORY' | translate }}</ion-label>
      <ion-select formControlName="category" okText="{{ 'OK' | translate }}" cancelText="{{ 'CANCEL' | translate }}">
        <ion-option *ngFor="let category of categories">{{ category.name }}</ion-option>
      </ion-select>
    </ion-item>
  </form>
</ion-content>