<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-segment [(ngModel)]="segment" (ionChange)="updateContent()">
      <ion-segment-button value="HomePage">
        <span class="label-segment">{{ 'PRODUCT' | translate }}</span>
        <ion-icon name="clipboard"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="SearchPage">
        <span class="label-segment">{{ 'SEARCH' | translate }}</span>
        <ion-icon name="search"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="OrderPage">
        <span class="label-segment">{{ 'ORDER' | translate }}</span>
        <ion-icon name="clock"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="CartPage">
        <span class="label-segment">{{ 'CART' | translate }}</span>
        <ion-icon name="cart"></ion-icon>
        <span *ngIf="cart">{{ cart.totalItem }}</span>
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="box">
    <ion-list no-lines>
      <ion-item>
        <ion-icon name="calendar" item-start></ion-icon>
        <ion-label>{{ 'ORDER_DATE' | translate }}</ion-label>
        <ion-datetime (ionChange)="search()" cancelText="{{ 'CANCEL' | translate }}" doneText="{{ 'DONE' | translate }}" [min]="min"
          [max]="max" displayFormat="DD-MM-YYYY" pickerFormat="DD-MMM-YYYY" [monthShortNames]="monthShortNames" [(ngModel)]="orderDate"></ion-datetime>
      </ion-item>
    </ion-list>
  </div>
  <div class="no-data" *ngIf="!error && page && page.totalData == 0">
    <ion-icon name="warning"></ion-icon> {{ 'NO_DATA' | translate }}
  </div>
  <div class="error" *ngIf="error">
    <ion-icon name="warning"></ion-icon> {{ error }}
  </div>

  <ion-list *ngIf="page && page.totalData > 0">
    <ion-item>{{ orderDate | moment:'cal' }}</ion-item>
    <ion-item *ngFor="let order of page.data">
      <div class="hour danger" item-start *ngIf="order.canceled">
        <span>{{ order.createdDate | date:'hh:mm' }}</span>
        <ion-icon name="trash"></ion-icon>
      </div>
      <div class="hour secondary" item-start *ngIf="order.paid && !order.canceled">
        <span>{{ order.createdDate | date:'hh:mm' }}</span>
        <ion-icon name="checkmark"></ion-icon>
      </div>
      <div class="hour primary" item-start *ngIf="!order.paid && !order.canceled">
        <span>{{ order.createdDate | date:'hh:mm' }}</span>
        <ion-icon name="cart"></ion-icon>
      </div>
      <span class="bold dark">{{ order.transactionNumber }}</span>
      <p text-wrap>{{ getProducts(order) | shorten:300 }}</p>
      <ion-buttons item-end>
        <button ion-button icon-only small icon-only color="secondary" (click)="showOrder(order)">
          <ion-icon name="eye"></ion-icon>
        </button>
        <button ion-button icon-only small icon-only color="danger" (click)="cancel(order)" *ngIf="!order.canceled">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page && page.pageNumber < page.getTotalPage()">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'LOADING' | translate }}"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>