<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'LABEL.ORDER' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="cart"> {{ totalItems }}</ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list *ngIf="order; else nodata">
    <ion-item>
      <h2>{{ 'LABEL.ORDER_DETAIL' | translate }}</h2>
    </ion-item>
    <ion-item *ngFor="let item of order.items; let i = index">
      <span>{{item.product.name}}</span>
      <ion-buttons item-content>
        <button color="danger" outline small ion-button icon-only (click)="removeItem(item.product)">
          <ion-icon name="remove"></ion-icon>
        </button>
        <button color="secondary" outline small ion-button icon-only (click)="addItem(item.product)">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
      <span class="list-price" item-end>{{ item.quantity }} x {{item.product.price | currency:'Rp. ':symbol:'0.2'}}</span>
    </ion-item>
    <ion-item>
      <span item-end>{{totalPrice | currency:'Rp. ':symbol:'0.2'}}</span>
    </ion-item>
  </ion-list>

</ion-content>
<ng-template #nodata>
  <ion-item>
    {{ 'MESSAGE.NO_DATA' | translate }}
  </ion-item>
</ng-template>