<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-segment [(ngModel)]="segment" (ionChange)="updateContent()">
      <ion-segment-button value="HomePage">
        <span class="label-segment">{{ 'PRODUCT' | translate }}</span>
        <ion-icon name="clipboard"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="SearchPage">
        <span class="label-segment">{{ 'SEARCH' | translate }}</span>
        <ion-icon name="search"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="OrderPage">
        <span class="label-segment">{{ 'ORDER' | translate }}</span>
        <ion-icon name="clock"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="CartPage">
        <span class="label-segment">{{ 'CART' | translate }}</span>
        <ion-icon name="cart"></ion-icon>
        <span *ngIf="cart">{{ cart.totalItem }}</span>
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="box">
    <ion-list no-lines>
      <ion-item>
        <ion-icon name="calendar" item-start></ion-icon>
        <ion-label>{{ 'ORDER_DATE' | translate }}</ion-label>
        <ion-datetime (ionChange)="search()" cancelText="{{ 'CANCEL' | translate }}" doneText="{{ 'DONE' | translate }}" [min]="min"
          [max]="max" displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY" [monthShortNames]="monthNames[lang]" [(ngModel)]="orderDate"></ion-datetime>
      </ion-item>
    </ion-list>
  </div>


  <ion-list *ngIf="page && page.totalData > 0; else nodata">
    <ion-item>{{ orderDate | moment:'cal':lang | uppercase}}</ion-item>
    <button ion-item *ngFor="let order of page.data" (click)="showOrder(order)">
      <ion-icon [name]="getIcon(order)" [color]="getIconColor(order)" item-start></ion-icon>
      <p>
        <span class="bold primary">{{ order.createdBy }}</span>
        -
        <span class="bold dark">{{ order.transactionNumber }}</span>
      </p>
      <p text-wrap>{{ getProducts(order) | shorten:300 }}</p>
      <ion-badge color="gray" item-end>
        {{order.createdDate | date:'hh:mm'}}
      </ion-badge>
    </button>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page && page.pageNumber < page.getTotalPage()">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'LOADING' | translate }}"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
<ng-template #nodata>
  <ion-item>
    <ion-icon name="warning" item-start></ion-icon>
    <ion-label>{{ 'NO_DATA' | translate }}</ion-label>
  </ion-item>
</ng-template>