page-order {
    .hour {
        color: #fff;
        font-size: 1.0em;
        padding-right: 5px;
        span {
            padding-right: 2px;
            display: inline-block;
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            line-height: 1;
            text-rendering: auto;
            text-transform: none;
        }
    }
    .danger{
        color: color($colors, danger);
    }
    .secondary{
        color: color($colors, secondary);
    }
    .primary{
        color: color($colors, primary);
    }
}