<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'CATEGORY' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="add()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item detail-push *ngFor="let category of page.data; let i = index" ion-item>
      <span class="list-number" item-start>{{ i + 1 }}.</span>
      <h2>{{category.name}}</h2>
      <p>{{category.description}} | {{category.createdDate | date:'dd-MM-yyyy'}}</p>
      <button ion-button outline item-end (click)="view(category)">{{ 'VIEW' | translate}}</button>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page.pageNumber < page.getTotalPage()">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'LOADING' | translate }}"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>