<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'LABEL.PRODUCT' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="viewOrder()">
        <ion-icon name="cart"> {{ totalItems }}</ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-grid>
        <ion-row>
          <ion-col col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 *ngFor="let product of page.data; let i = index">
            <ion-card text-center>
               
                    
                  
                <img class="image" src="{{product.image}}"/>
                <h2>{{product.name}}</h2>
                    <ion-badge color="secondary">{{product.price | currency:'Rp.':symbol:'0.2':'id'}}</ion-badge>
                <div text-center>
                        
                    
                      <button color="dark" small ion-button icon-only (click)="removeItem(product)">
                        <ion-icon name="remove"></ion-icon>
                      </button>
                      <button color="dark" small ion-button icon-only (click)="addItem(product)">
                        <ion-icon name="add"></ion-icon>
                      </button>
                   
                    </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

  <!-- <ion-list>
    <ion-item *ngFor="let product of page.data; let i = index">
      <ion-thumbnail item-start>
        <img src="{{product.image}}">
      </ion-thumbnail>
      <h2>{{product.name}}</h2>
      <ion-badge color="dark">{{product.price | currency:'Rp. ':symbol:'0.2'}}</ion-badge>
      <p>{{product.description}}</p>
      <ion-buttons item-end>
        <button color="danger" small ion-button icon-only (click)="removeItem(product)">
          <ion-icon name="remove"></ion-icon>
        </button>
        <button color="secondary" small ion-button icon-only (click)="addItem(product)">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
    </ion-item>
  </ion-list>
-->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page.pageNumber < page.getTotalPage()">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll> 
</ion-content>