<ion-header>
  <ion-navbar *ngIf="!showSearch">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'CURRENCY' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="toggleSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="create()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-navbar *ngIf="showSearch">
    <ion-searchbar #searchbar [(ngModel)]="keyword" [showCancelButton]="true" (ionCancel)="toggleSearch()" (ionClear)="clearSearch()"
      (ionInput)="triggerSearch($event)" placeholder="{{ 'SEARCH' | translate }}"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="message" *ngIf="message">{{ message }}</div>
  <div class="total" *ngIf="total">
    <fa-icon name="money"></fa-icon>
    <span>{{ total }}</span>
  </div>
  <ion-list *ngIf="page">
    <button ion-item *ngFor="let currency of page.data" (click)="view(currency)">
      <h2>{{ currency.name }}</h2>
      <p>{{ currency.description }}</p>
      <p>{{ currency.createdDate | datetime }}</p>
    </button>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page && page.pageNumber < page.getTotalPage()">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'LOADING' | translate }}"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>