<ion-header>
  <ion-navbar>
    <ion-title *ngIf="product">{{ product.name }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button icon-only (click)="modify()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding *ngIf="product; else nodata">
  <div class="image-wrapper">
    <div class="image">
      <div class="background" [style.background-image]="'url(' + product.image + ')'"> </div>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col class="detail-label">{{ 'ID' | translate }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-value">{{ product.id }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-label">{{ 'NAME' | translate }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-value">{{ product.name }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-label">{{ 'DESCRIPTION' | translate }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-value">{{ product.description }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-label">{{ 'PRICE' | translate }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-value">{{product.price | currency:currency:symbol:symbol:lang}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-label">{{ 'CATEGORY' | translate }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-value">{{ product.category }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-label">{{ 'CREATED_BY' | translate }}</ion-col>
    </ion-row>
    <ion-row *ngIf="product.createdBy; else empty">
      <ion-col class="detail-value">{{ product.createdBy }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-label">{{ 'CREATED_DATE' | translate }}</ion-col>
    </ion-row>
    <ion-row *ngIf="product.createdDate; else empty">
      <ion-col class="detail-value">{{ product.createdDate | date: 'dd/MM/yyyy hh:mm' }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-label">{{ 'LAST_MODIFIED_BY' | translate }}</ion-col>
    </ion-row>
    <ion-row *ngIf="product.lastModifiedBy; else empty">
      <ion-col class="detail-value">{{ product.lastModifiedBy }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-label">{{ 'LAST_MODIFIED_DATE' | translate }}</ion-col>
    </ion-row>
    <ion-row *ngIf="product.lastModifiedDate; else empty">
      <ion-col class="detail-value">{{ product.lastModifiedDate | date: 'dd/MM/yyyy hh:mm' }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ng-template #empty>
  <ion-row>
    <ion-col class="detail-value">-</ion-col>
  </ion-row>
</ng-template>
<ng-template #nodata>
  <ion-content padding>
    {{ 'MESSAGE.NO_DATA' | translate }}
  </ion-content>
</ng-template>