page-cart {
    ion-buttons {
        margin: 0;
    }
    .button-md {
        text-transform: none;
    }
    .cart-item {
        .list-md {
            margin: 0;
            .item-block {
                border-bottom: solid 1px color($colors, light);
                .item-inner {
                    border-bottom: none;
                }
            }
            .no-lines {
                border: none;
            }
            .note{
                border: solid 1px #ccc;
                background-color: color($colors, light);
            }
        }
    }
    .footer{
        display: block;
        text-align: right;
        padding: 10px 0 0 0;
        em{
            font-weight: bold;
            display: inline-block;
            font-style: normal;
        }
    }
    .order-note{
        margin: 10px 0 15px 0;
        padding: 10px;
        .order-note-title{
            padding: 10px;
            border: solid 1px color($colors, light);
            border-bottom: none;
        }
        .item {
            margin: 0;
            border: solid 1px color($colors, light);
        }
    }
}