<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-segment [(ngModel)]="segment" (ionChange)="updateContent()">
      <ion-segment-button value="HomePage">
        <span class="label-segment">{{ 'PRODUCT' | translate }}</span>
        <fa-icon name="gift"></fa-icon>
      </ion-segment-button>
      <ion-segment-button value="SearchPage">
        <span class="label-segment">{{ 'SEARCH' | translate }}</span>
        <fa-icon name="search"></fa-icon>
      </ion-segment-button>
      <ion-segment-button value="OrderPage">
        <span class="label-segment">{{ 'ORDER' | translate }}</span>
        <fa-icon name="archive"></fa-icon>
      </ion-segment-button>
      <ion-segment-button value="CartPage">
        <span class="label-segment">{{ 'CART' | translate }}</span>
        <fa-icon name="shopping-cart"></fa-icon>
        <span *ngIf="cart">{{ cart.totalItem }}</span>
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card class="card-item" *ngIf="cart && cart.order; else nodata">
    <ion-item class="card-item-header" *ngIf="cart.totalItem > 0">
      <span item-start>{{ 'TOTAL_ITEM' | translate }} : {{ cart.totalItem }}</span>
      <ion-buttons item-end>
        <button ion-button color="danger" icon-only small (click)="delete()" [disabled]="cart.totalItem == 0">
          <fa-icon name="eraser"></fa-icon>
        </button>
        <button ion-button color="secondary" icon-only small (click)="save()" [disabled]="cart.totalItem == 0">
          <fa-icon name="floppy-o"></fa-icon>
        </button>
      </ion-buttons>
    </ion-item>
    <ion-list>
      <ion-item *ngIf="cart.totalItem == 0">
        {{ 'NO_ORDER' | translate }}
      </ion-item>
      <ion-item *ngFor="let item of cart.order.orderItems">
        <ion-thumbnail item-start>
          <img src="{{item.product.image}}">
        </ion-thumbnail>
        <h2>{{ item.product.name }}</h2>
        <p>
          <span>{{ item.product.price | currency }}</span>
          <strong *ngIf="getQuantity(item.product) > 0"> x
            <u>{{ getQuantity(item.product) }}</u>
          </strong>
        </p>
        <p *ngIf="item.note">{{ 'NOTE' | translate }} : {{ item.note }}</p>
        <ion-buttons item-end>
          <button color="danger" small ion-button icon-only (click)="removeItem(item.product)">
            <ion-icon name="remove"></ion-icon>
          </button>
          <button color="light" small ion-button icon-only (click)="addNote(item.product)" [disabled]="getQuantity(item.product) == 0">
            <fa-icon name="commenting"></fa-icon>
          </button>
          <button color="secondary" small ion-button icon-only (click)="addItem(item.product)">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-buttons>
      </ion-item>
      <ion-item class="no-lines" *ngIf="cart.order.note">
        {{ 'NOTE' | translate }} :
      </ion-item>
      <ion-item text-wrap *ngIf="cart.order.note">
        <span *ngIf="cart.order.note; else empty">{{ cart.order.note }}</span>
      </ion-item>
    </ion-list>
    <ion-item class="card-item-footer" *ngIf="cart.totalItem > 0">
      <span item-start>{{ 'TOTAL_PRICE' | translate }} : {{ cart.totalPrice | currency }}</span>
      <ion-buttons item-end>
        <button color="light" small ion-button icon-only (click)="addOrderNote()">
          <fa-icon name="commenting"></fa-icon>
        </button>
        <button ion-button color="secondary" small ion-button (click)="pay()" [disabled]="cart.totalItem == 0">
          {{ 'PAYMENT' | translate }}
        </button>
      </ion-buttons>
    </ion-item>
  </ion-card>
</ion-content>
<ng-template #nodata>
  <ion-item>
    {{ 'NO_DATA' | translate }}
  </ion-item>
</ng-template>
<ng-template #empty>
  <span item-end>-</span>
</ng-template>