<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-segment [(ngModel)]="segment" (ionChange)="updateContent()">
      <ion-segment-button value="HomePage">
        <span class="label-segment">{{ 'PRODUCT' | translate }}</span>
        <ion-icon name="clipboard"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="SearchPage">
        <span class="label-segment">{{ 'SEARCH' | translate }}</span>
        <ion-icon name="search"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="OrderPage">
        <span class="label-segment">{{ 'ORDER' | translate }}</span>
        <ion-icon name="clock"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="CartPage">
        <span class="label-segment">{{ 'CART' | translate }}</span>
        <ion-icon name="cart"></ion-icon>
        <span *ngIf="cart">{{ cart.totalItem }}</span>
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list *ngIf="cart && cart.order; else nodata">
    <ion-item *ngIf="cart.totalItem == 0">
      {{ 'NO_ORDER' | translate }}
    </ion-item>
    <ion-item *ngFor="let item of cart.order.items">
      <ion-thumbnail item-start>
        <img src="{{item.product.image}}">
      </ion-thumbnail>
      <h2>{{ item.product.name }}</h2>
      <h2>{{ item.quantity }} x {{ item.product.price | currency }}</h2>
      <ion-buttons item-end>
        <button color="light" small ion-button icon-only (click)="removeItem(item.product)">
          <ion-icon name="remove"></ion-icon>
        </button>
        <button color="light" small ion-button icon-only (click)="addItem(item.product)">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
    </ion-item>
    <ion-item no-lines *ngIf="cart.totalItem > 0">
      <span item-end>{{ 'TOTAL_ITEM' | translate }} : {{ cart.totalItem }}</span>
    </ion-item>
    <ion-item no-lines class="bold" *ngIf="cart.totalItem > 0">
      <span item-end>{{ 'TOTAL_PRICE' | translate }} : {{ cart.totalPrice | currency }}</span>
    </ion-item>
    <ion-item>
      <ion-buttons item-end>
        <button ion-button color="danger" icon-only (click)="delete()" [disabled]="cart.totalItem == 0">
          <ion-icon name="trash"></ion-icon>
        </button>
        <button ion-button color="secondary" icon-only (click)="save()" [disabled]="cart.totalItem == 0">
          <ion-icon name="checkmark-circle"></ion-icon>
        </button>
        <button ion-button color="secondary" icon-start (click)="pay()" [disabled]="cart.totalItem == 0">
          <ion-icon name="card"></ion-icon> {{ 'PAYMENT' | translate }}
        </button>
      </ion-buttons>
    </ion-item>
  </ion-list>

</ion-content>
<ng-template #nodata>
  <ion-item>
    {{ 'NO_DATA' | translate }}
  </ion-item>
</ng-template>