<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="product"><fa-icon name="gift"></fa-icon> {{ product.name }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="viewCtrl.dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="image-wrapper" *ngIf="product">
    <div class="image">
      <div class="background" [style.background-image]="'url(' + product.image + ')'"> </div>
    </div>
  </div>
  <ion-grid *ngIf="product">
    <ion-row>
      <ion-col class="detail-label">{{ 'ID' | translate }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-value">{{ product.id }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-label">{{ 'NAME' | translate }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-value">{{ product.name }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-label">{{ 'DESCRIPTION' | translate }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-value">{{ product.description }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-label">{{ 'PRICE' | translate }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-value">{{ product.price | currency }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>