<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="product">{{ product.name }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="viewCtrl.dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding *ngIf="product; else nodata">
  <div class="detail-image">
    <img src="{{product.image}}" />
  </div>
  <ion-grid>
    <ion-row>
      <ion-col class="detail-label">{{ 'ID' | translate }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-value">{{ product.id }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-label">{{ 'NAME' | translate }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-value">{{ product.name }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-label">{{ 'DESCRIPTION' | translate }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-value">{{ product.description }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-label">{{ 'PRICE' | translate }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-value">{{product.price | currency}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ng-template #nodata>
  <ion-content padding>
    {{ 'NO_DATA' | translate }}
  </ion-content>
</ng-template>