<ion-header>
  <ion-navbar>
    <ion-title *ngIf="user">{{ user.fullname }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button icon-only (click)="modify()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding *ngIf="user; else nodata">
  <div class="image-wrapper">
    <div class="image">
      <div class="background" [style.background-image]="'url(' + user.image + ')'"> </div>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col class="detail-label">{{ 'ID' | translate }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-value">{{ user.id }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-label">{{ 'USERNAME' | translate }}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="detail-value">{{ user.username }}</ion-col>
      </ion-row>
    <ion-row>
      <ion-col class="detail-label">{{ 'FULLNAME' | translate }}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="detail-value">{{ user.fullname }}</ion-col>
      </ion-row>
    <ion-row>
      <ion-col class="detail-label">{{ 'ROLE' | translate }}</ion-col>
    </ion-row>
    <ion-row *ngIf="user.role; else empty">
        <ion-col class="detail-value">{{ user.role.name }}</ion-col>
      </ion-row>
    <ion-row>
      <ion-col class="detail-label">{{ 'STATUS' | translate }}</ion-col>
    </ion-row>
    <ion-row *ngIf="user.activated; else deactivated">
        <ion-col class="detail-value">{{ 'ACTIVATED' | translate }}</ion-col>
      </ion-row>
    <ion-row>
      <ion-col class="detail-label">{{ 'CREATED_BY' | translate }}</ion-col>
    </ion-row>
    <ion-row *ngIf="user.createdBy; else empty">
      <ion-col class="detail-value">{{ user.createdBy }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-label">{{ 'CREATED_DATE' | translate }}</ion-col>
    </ion-row>
    <ion-row *ngIf="user.createdDate; else empty">
      <ion-col class="detail-value">{{ user.createdDate | date: 'dd/MM/yyyy hh:mm' }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-label">{{ 'LAST_MODIFIED_BY' | translate }}</ion-col>
    </ion-row>
    <ion-row *ngIf="user.lastModifiedBy; else empty">
      <ion-col class="detail-value">{{ user.lastModifiedBy }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-label">{{ 'LAST_MODIFIED_DATE' | translate }}</ion-col>
    </ion-row>
    <ion-row *ngIf="user.lastModifiedDate; else empty">
      <ion-col class="detail-value">{{ user.lastModifiedDate | date: 'dd/MM/yyyy hh:mm' }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ng-template #empty>
  <ion-row>
    <ion-col class="detail-value">-</ion-col>
  </ion-row>
</ng-template>
<ng-template #deactivated>
  <ion-row>
    <ion-col class="detail-value">{{ 'DEACTIVATED' | translate }}</ion-col>
  </ion-row>
</ng-template>
<ng-template #nodata>
  <ion-content padding>
    {{ 'MESSAGE.NO_DATA' | translate }}
  </ion-content>
</ng-template>