<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{ 'PAYMENT' | translate }}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="viewCtrl.dismiss(order)">
        <ion-icon name="checkmark"></ion-icon>
      </button>
      <button ion-button (click)="viewCtrl.dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="order">
    <ion-item *ngFor="let item of order.orderItems">
      <h2>{{ item.product.name }}</h2>
      <p>
        <span>{{ item.product.price | currency }}</span>
        <strong> x
          <u>{{ item.quantity }}</u>
        </strong>
      </p>
      <p *ngIf="item.note">{{ 'NOTE' | translate }} : {{ item.note }}</p>
    </ion-item>
    <ion-item no-lines *ngIf="order.note">
      {{ 'NOTE' | translate }} :
    </ion-item>
    <ion-item text-wrap *ngIf="order.note">
      <span *ngIf="order.note">{{ order.note }}</span>
    </ion-item>
    <ion-item no-lines>
      <span item-end>{{ 'TOTAL_ITEM' | translate }} : {{ totalItem }}</span>
    </ion-item>
    <ion-item no-lines class="bold">
      <span item-end>{{ 'TOTAL_PRICE' | translate }} : {{ totalPrice | currency }}</span>
    </ion-item>
  </ion-list>
</ion-content>