<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{ 'PAYMENT' | translate }}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="viewCtrl.dismiss(order)">
        <ion-icon name="checkmark"></ion-icon>
      </button>
      <button ion-button (click)="viewCtrl.dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="cart-item" *ngIf="order">
    <ion-list>
      <ion-item *ngFor="let item of order.orderItems">
        <h2>{{ item.product.name }}</h2>
        <p>
          <span>{{ item.product.price | currency }}</span>
          <strong> x
            <u>{{ item.quantity }}</u>
          </strong>
        </p>
        <p *ngIf="item.note">{{ 'NOTE' | translate }} : {{ item.note }}</p>
      </ion-item>
    </ion-list>
  </div>
  <div class="footer">
    <em>{{ 'TOTAL_ITEM' | translate }} : {{ totalItem }}</em>
  </div>
  <div class="footer">
    <em>{{ 'TOTAL_PRICE' | translate }} : {{ totalPrice | currency }}</em>
  </div>
  <div class="order-note" *ngIf="order.note">
    <div class="order-note-title">
      <fa-icon name="commenting"></fa-icon> {{ 'ORDER_NOTE' | translate }}
    </div>
    <ion-item no-lines text-wrap>
      {{ order.note }}
    </ion-item>
  </div>
</ion-content>