// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.list-number {
    width: 40px;
    text-align: right;
    color: color($colors, grey);
}

.checkboxes-label {
    margin-left: 18px;
}

.detail-label {
    color: color($colors, grey);
}

.detail-value {
    border-bottom: solid 1px color($colors, lightGrey);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.detail-image {
    width: 256px;
    height: 256px;
    background-position: center center;
    background-size: cover;
}

.list-price{
    display: inline-block;
    padding-left: 20px;
}

.image-wrapper {
    text-align: center;
    margin: 20px 0;
    .image {
        padding: 10px;
        width: 230px;
        height: 230px;
        display: inline-block;
        border: solid 4px color($colors, lightGrey);
        background-color: color($colors, light);
        .background {
            width: 200px;
            height: 200px;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            ion-icon {
                color: color($colors, lightGrey);
                font-size: 44px;
                margin-bottom: -80px;
                margin-top: 80px;
            }
        }
    }
}

.image:hover {
    border: solid 4px color($colors, grey);
    .background {
        ion-icon {
            color: color($colors, grey);
        }
    }
}