// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: 'Paytone One';
    src: url('../assets/fonts/PaytoneOne.ttf');
}

/* =================== MENU =================== */

.menu {
    .list-header-md,
    .list-header-ios,
    .list-header-wp {
        margin-bottom: 0;
        min-height: auto;
        .label-md,
        .label-ios,
        .label-wp {
            margin: 10px 0 0 0;
        }
    }
}

.menu .fa {
    margin-left: 10px;
    width: 25px;
}

.menu-header {
    padding: 0;
    background-image: url('../assets/img/menu-profile.jpg');
    background-size: cover;
    text-align: center;
}

.menu-avatar {
    margin: 20px 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: solid 1px color($colors, border);
}

.menu-buttons {
    background: $black-overlay;
}

.menu-buttons .button-md,
.menu-buttons .button-ios,
.menu-buttons .button-wp {
    margin: 0;
    border-left: solid 1px #a3a2a2;
    text-transform: none;
}

.menu-buttons ion-row ion-col:first-child .button-md {
    border-left: none;
}

/* =================== DATA GRID =================== */

.data-grid {
    ion-card {
        position: relative;
        text-align: center;
        padding: 5px 5px 10px 5px;
    }
    img {
        border: solid 1px color($colors, lightborder);
        padding: 10px;
        cursor: pointer;
    }
    ion-card:hover {
        background-color: #ddfcd7;
    }
    ion-card:hover img {
        border: solid 2px #b0fca3;
    }
    .selected {
        background-color: #ddfcd7;
    }
    .selected img {
        border: solid 2px #b0fca3;
    }
    .buttons {
        text-align: center;
    }
}

/* =================== SEGMENT =================== */

.segment-md .segment-button.segment-activated,
.segment-ios .segment-button.segment-activated,
.segment-wp .segment-button.segment-activated {
    background-color: color($colors, active);
}

.header .label-segment {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 4rem;
    text-transform: capitalize;
    padding-right: 6px;
}

.header .segment-md .segment-button .fa,
.header .segment-ios .segment-button .fa,
.header .segment-wp .segment-button .fa {
    font-size: 2.0rem;
    line-height: 4rem;
}

@media only screen and (max-width: 768px) {
    .header .label-segment {
        display: none;
    }
}

/* =================== CATEGORIES =================== */

.categories {
    padding: 10px;
    background-color: color($colors, gray);
    border-bottom: solid 1px color($colors, grayborder);
    ion-col {
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.6rem;
        &.col-with-arrow {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    p {
        margin: 0;
        font-size: 1.6rem;
        line-height: 1.6rem;
    }
}

.content-md,
.content-ios,
.content-wp,
.item-md,
.item-ios,
.item-wp {
    background-color: color($colors, light);
}

.box .item-md,
.box .item-ios,
.box .item-wp {
    background-color: #fff;
}

.title .fa {
    margin-right: 8px;
}

/* =================== SEARCHBAR =================== */

.searchbar-ios-cancel {
    margin-right: 0px !important;
    opacity: 1 !important;
    padding-left: 10px !important;
}

.searchbar-md .searchbar-md-cancel {
    display: inline-flex !important;
    background-color: white !important;
}

.searchbar-search-icon {
    display: none;
}

/* =================== NO DATA =================== */

.message {
    margin: 10px;
    padding: 10px 20px;
    border: solid 1px #d3d2d2;
    background-color: #fff;
    color: color($colors, dark);
}

.total {
    padding: 5px 0;
    margin-left: 15px;
    font-size: 14px;
    font-weight: bold;
    color: color($colors, dark);
    border-bottom: 3px solid #d3d2d2;
}

.total span {
    margin-left: 10px;
}

.detail-label {
    color: color($colors, dark);
}

.detail-value {
    border-bottom: solid 1px color($colors, border);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.image-wrapper {
    text-align: center;
    margin: 20px 0;
    .image {
        padding: 10px;
        width: 230px;
        height: 230px;
        display: inline-block;
        border: solid 1px color($colors, gray);
        background-color: #fff;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        .background {
            width: 200px;
            height: 200px;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            ion-icon {
                color: color($colors, gray);
                font-size: 44px;
                margin-bottom: -80px;
                margin-top: 80px;
            }
        }
    }
}

.image:hover {
    border: solid 1px color($colors, dark);
    .background {
        ion-icon {
            color: color($colors, gray);
        }
    }
}

.fileinput {
    visibility: hidden;
    height: 0px;
}

ion-modal.note-modal {
    ion-backdrop {
        visibility: visible;
    }
    .modal-wrapper {
        position: absolute;
        overflow: hidden;
        max-width: 400px;
        border-radius: 2px;
        width: 80%;
        height: 190px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border: 0;
        box-shadow: 0 16px 20px rgba(0, 0, 0, .4);
        background-color: #fafafa;
    }
}

.box {
    margin: 10px;
    padding: 0;
    font-size: 1.4rem;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.cart-item {
    .list-md {
        margin: 0;
        .item-block {
            border-bottom: solid 1px color($colors, border);
            .item-inner {
                border-bottom: none;
            }
        }
        .no-lines {
            border: none;
        }
    }
}

.footer {
    display: block;
    text-align: right;
    padding: 10px 0 0 0;
    em {
        font-weight: bold;
        display: inline-block;
        font-style: normal;
    }
}

.order-note {
    margin: 15px 0 15px 0;
    .order-note-title {
        padding: 10px;
        border-top: solid 1px color($colors, light);
        border-bottom: solid 2px color($colors, light);
        font-weight: bold;
    }
    .item {
        margin: 0;
        border-bottom: solid 1px color($colors, light);
    }
}

.textarea textarea {
    width: 100%;
    margin: 0;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    background-color: #fff;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

.textarea textarea:focus {
    border-bottom: solid 2px color($colors, primary);
}

.box.gray {
    background: #f5f5f5;
}

.primary {
    color: color($colors, primary);
}

.secondary {
    color: color($colors, secondary);
}

.danger {
    color: color($colors, danger);
}

.dark {
    color: color($colors, dark);
}

.gray {
    color: color($colors, gray);
}

.card {
    .image {
        padding: 10px;
        background-color: color($colors, light);
    }
}

.alert-not-title {
    .alert-md .alert-head {
        height: 0;
        display: none;
    }
    .alert-md .alert-button-group {
        padding: 8px;
    }
    .alert-md .alert-message {
        padding: 25px 22px 10px 22px;
    }
    .alert-md .alert-button {
        text-transform: capitalize;
    }
}