// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.searchbar-ios-cancel {
    margin-right: 0px !important;
    opacity: 1 !important;
    padding-left: 10px !important;
}

.searchbar-md .searchbar-md-cancel {
    display: inline-flex !important;
    background-color: white !important;
}

.searchbar-search-icon {
    display: none;
}

.categories {
    padding: 10px;
    background-color: color($colors, light);
    border-bottom: solid 1px color($colors, lightgrey);
    ion-col {
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.6rem;
        &.col-with-arrow {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    p {
        margin: 0;
        font-size: 1.6rem;
        line-height: 1.6rem;
    }
}

.data-grid {
    ion-card {
        position: relative;
        text-align: center;
        padding: 5px 5px 10px 5px;

        img {
            border: solid 1px color($colors, light);
            padding: 10px;
            background-color: color($colors, lighter);
        }
    }
    
}

.box{
    border: solid 1px color($colors, light);
    background-color: color($colors, lighter);
    margin: 10px;
    padding: 10px;

    .title{
        font-weight: bold;
        font-size: 18px;
    }

    .list-md, .list-ios, .list-wp{
        margin: 0;
        background: none;
    }

    .item-md, .item-ios, .item-wp{
        margin: 0;
        padding: 0 0 0 10px;
        background: none;
    }
}

.primary{
    color: color($colors, primary);
}
.dark{
    color: color($colors, dark);
}
.bold{
    font-weight: bold;
}







.list-number {
    width: 40px;
    text-align: right;
    color: color($colors, light);
}

.checkboxes-label {
    margin-left: 18px;
}

.detail-label {
    color: color($colors, light);
}

.detail-value {
    border-bottom: solid 1px color($colors, light);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.detail-image {
    width: 256px;
    height: 256px;
    background-position: center center;
    background-size: cover;
}

.list-price {
    display: inline-block;
    padding-left: 20px;
}

.card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
}

.card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
}

.card {
    .image {
        padding: 10px;
        background-color: color($colors, light);
    }
}

.image-wrapper {
    text-align: center;
    margin: 20px 0;
    .image {
        padding: 10px;
        width: 230px;
        height: 230px;
        display: inline-block;
        border: solid 4px color($colors, light);
        background-color: color($colors, light);
        .background {
            width: 200px;
            height: 200px;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            ion-icon {
                color: color($colors, light);
                font-size: 44px;
                margin-bottom: -80px;
                margin-top: 80px;
            }
        }
    }
}

.image:hover {
    border: solid 4px color($colors, light);
    .background {
        ion-icon {
            color: color($colors, light);
        }
    }
}