<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-segment [(ngModel)]="segment" (ionChange)="updateContent()">
      <ion-segment-button value="HomePage">
        <span class="label-segment">{{ 'PRODUCT' | translate }}</span>
        <fa-icon name="gift" size="2x"></fa-icon>
      </ion-segment-button>
      <ion-segment-button value="SearchPage">
        <span class="label-segment">{{ 'SEARCH' | translate }}</span>
        <fa-icon name="search" size="2x"></fa-icon>
      </ion-segment-button>
      <ion-segment-button value="OrderPage">
        <span class="label-segment">{{ 'ORDER' | translate }}</span>
        <fa-icon name="archive" size="2x"></fa-icon>
      </ion-segment-button>
      <ion-segment-button value="CartPage">
        <span class="label-segment">{{ 'CART' | translate }}</span>
        <fa-icon name="shopping-cart" size="2x"></fa-icon>
        <span *ngIf="cart">{{ cart.totalItem }}</span>
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="keyword" (ionInput)="search()" (ionClear)="clear()" placeholder="{{ 'SEARCH' | translate }}"></ion-searchbar>
  <div class="message" *ngIf="message">
    {{ message }}
  </div>
  <div *ngIf="page">
    <ion-grid class="data-grid">
      <ion-row>
        <ion-col col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 *ngFor="let product of page.data">
          <ion-card>
            <img src="{{ product.image }}" (click)="view(product)" />
            <p>{{ product.name }}</p>
            <p>
              <span>{{ product.price | currency }}</span>
              <strong *ngIf="getQuantity(product) > 0"> x
                <u>{{ getQuantity(product) }}</u>
              </strong>
            </p>
            <div class="buttons">
              <button color="danger" small ion-button icon-only (click)="removeItem(product)">
                <ion-icon name="remove"></ion-icon>
              </button>
              <button color="light" small ion-button icon-only (click)="addNote(product)" [disabled]="getQuantity(product) == 0">
                <fa-icon name="commenting"></fa-icon>
              </button>
              <button color="secondary" small ion-button icon-only (click)="addItem(product)">
                <ion-icon name="add"></ion-icon>
              </button>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page.pageNumber < page.getTotalPage()">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'LOADING' | translate }}"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>