<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'SETTING' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="save()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="setting; else nodata">
    <form (submit)="save()">
      <ion-list>
        <ion-item>
          <ion-label>{{ 'LANGUAGE' | translate }}</ion-label>
          <ion-select [(ngModel)]="setting.language" name="language" okText="{{ 'OK' | translate }}" cancelText="{{ 'CANCEL' | translate }}">
            <ion-option value="id">{{ 'INDONESIA' | translate }}</ion-option>
            <ion-option value="en">{{ 'ENGLISH' | translate }}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'CURRENCY' | translate }}</ion-label>
          <ion-select [(ngModel)]="setting.currency" name="currency" okText="{{ 'OK' | translate }}" cancelText="{{ 'CANCEL' | translate }}">
            <ion-option *ngFor="let currency of currencies" [value]="currency.name">{{ currency.description }}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'DATETIME_FORMAT' | translate }}</ion-label>
          <ion-select [(ngModel)]="setting.datetimeFormat" name="datetimeFormat" okText="{{ 'OK' | translate }}" cancelText="{{ 'CANCEL' | translate }}">
            <ion-option value="dd/MM/yy hh:mm">{{ current | date: 'dd/MM/yy hh:mm' }}</ion-option>
            <ion-option value="dd/MM/yyyy hh:mm">{{ current | date: 'dd/MM/yyyy hh:mm' }}</ion-option>
            <ion-option value="dd/MM/yyyy hh:mm:ss">{{ current | date: 'dd/MM/yyyy hh:mm:ss' }}</ion-option>
            <ion-option value="yy/MM/dd hh:mm">{{ current | date: 'yy/MM/dd hh:mm' }}</ion-option>
            <ion-option value="yyyy/MM/dd hh:mm">{{ current | date: 'yyyy/MM/dd hh:mm' }}</ion-option>
            <ion-option value="yyyy/MM/dd hh:mm:ss">{{ current | date: 'yyyy/MM/dd hh:mm:ss' }}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'DATE_FORMAT' | translate }}</ion-label>
          <ion-select [(ngModel)]="setting.dateFormat" name="dateFormat" okText="{{ 'OK' | translate }}" cancelText="{{ 'CANCEL' | translate }}">
            <ion-option value="dd/MM/yy">{{ current | date: 'dd/MM/yy' }}</ion-option>
            <ion-option value="dd/MM/yyyy">{{ current | date: 'dd/MM/yyyy' }}</ion-option>
            <ion-option value="yy/MM/dd">{{ current | date: 'yy/MM/dd' }}</ion-option>
            <ion-option value="yyyy/MM/dd">{{ current | date: 'yyyy/MM/dd' }}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'CURRENCY_FORMAT' | translate }}</ion-label>
          <ion-select [(ngModel)]="setting.currencyFormat" name="currencyFormat" okText="{{ 'OK' | translate }}" cancelText="{{ 'CANCEL' | translate }}">
            <ion-option value="0.0">{{ 10000.1234 | number:'0.0-0':setting.language }}</ion-option>
            <ion-option value="0.1">{{ 10000.1234 | number:'0.0-1':setting.language }}</ion-option>
            <ion-option value="0.2">{{ 10000.1234 | number:'0.0-2':setting.language }}</ion-option>
            <ion-option value="0.3">{{ 10000.1234 | number:'0.0-3':setting.language }}</ion-option>
            <ion-option value="0.4">{{ 10000.1234 | number:'0.0-4':setting.language }}</ion-option>
            <ion-option value="0.5">{{ 10000.1234 | number:'0.0-5':setting.language }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>
<ng-template #nodata>
  <div class="no-data">{{ 'NO_DATA' | translate }}</div>
</ng-template>