<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'LABEL.SETTING' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="setting; else nodata">
  <form (submit)="save()">
    <ion-list>
      <ion-item>
        <ion-label>{{ 'LABEL.LANGUAGE' | translate }}</ion-label>
        <ion-select [(ngModel)]="setting.Language" name="Language" okText="{{ 'BUTTON.OK' | translate }}" cancelText="{{ 'BUTTON.CANCEL' | translate }}">
          <ion-option *ngFor="let language of languages;">{{language}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'LABEL.CURRENCY' | translate }}</ion-label>
        <ion-select [(ngModel)]="setting.Currency" name="Currency" okText="{{ 'BUTTON.OK' | translate }}" cancelText="{{ 'BUTTON.CANCEL' | translate }}">
            <ion-option *ngFor="let currency of currencies;">{{currency}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'LABEL.VIEW_TYPE' | translate }}</ion-label>
        <ion-select [(ngModel)]="setting.ViewType" name="ViewType" okText="{{ 'BUTTON.OK' | translate }}" cancelText="{{ 'BUTTON.CANCEL' | translate }}">
            <ion-option *ngFor="let viewType of viewTypes;">{{viewType}}</ion-option>
        </ion-select>
      </ion-item>
      <div padding>
        <button color="primary" ion-button icon-left>
          <ion-icon name="settings"></ion-icon>
          {{ 'BUTTON.SAVE' | translate }}
        </button>
      </div>
    </ion-list>
  </form>
</ion-content>
<ng-template #nodata>
  <ion-content padding>
    {{ 'MESSAGE.NO_DATA' | translate }}
  </ion-content>
</ng-template>