<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{ 'LABEL.ORDER_DETAIL' | translate }}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="viewCtrl.dismiss(order)">
        <span ion-text showWhen="ios">{{ 'BUTTON.EDIT' | translate }}</span>
        <ion-icon name="create" showWhen="core,android,windows"></ion-icon>
      </button>
      <button ion-button (click)="viewCtrl.dismiss()">
        <span ion-text showWhen="ios">{{ 'BUTTON.CANCEL' | translate }}</span>
        <ion-icon name="close" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="order; else nodata">
    <ion-item>
      {{ 'LABEL.CREATED_BY' | translate }}
      <span item-end *ngIf="order.createdBy; else empty">{{ order.createdBy }}</span>
    </ion-item>
    <ion-item>
      {{ 'LABEL.CREATED_DATE' | translate }}
      <span item-end *ngIf="order.createdDate; else empty">{{ order.createdDate | date: datetimeFormat }}</span>
    </ion-item>
    <ion-item>
      {{ 'LABEL.LAST_MODIFIED_BY' | translate }}
      <span item-end *ngIf="order.lastModifiedBy; else empty">{{ order.lastModifiedBy }}</span>
    </ion-item>
    <ion-item>
      {{ 'LABEL.LAST_MODIFIED_DATE' | translate }}
      <span item-end *ngIf="order.modifiedDate; else empty">{{ order.modifiedDate | date: datetimeFormat }}</span>
    </ion-item>
    <ion-item>
      <h2 class="bold">{{ 'LABEL.PRODUCT_LIST' | translate }}</h2>
    </ion-item>
    <ion-item *ngFor="let item of order.items">
      <ion-avatar item-start>
        <img src="{{item.product.image}}">
      </ion-avatar>
      <h2>{{item.product.name}}</h2>
      <p>{{item.quantity}} x {{item.product.price | currency:currency:symbol:currencySymbol:translateService.currentLang}}</p>
    </ion-item>
    <ion-item no-lines>
      <span item-end>{{ 'LABEL.TOTAL_ITEM' | translate }} : {{totalItem}}</span>
    </ion-item>
    <ion-item no-lines class="bold">
      <span item-end>{{ 'LABEL.TOTAL_PRICE' | translate }} : {{totalPrice | currency:currency:symbol:currencySymbol:translateService.currentLang}}</span>
    </ion-item>
  </ion-list>
</ion-content>
<ng-template #nodata>
  <ion-item>{{ 'MESSAGE.NO_DATA' | translate }}</ion-item>
</ng-template>
<ng-template #empty>
  <span item-end>-</span>
</ng-template>