<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LABEL.ROLE' | translate }} - {{ operation | translate }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          {{ 'BUTTON.CANCEL' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
        <span color="primary" showWhen="ios">
          {{ 'BUTTON.DONE' | translate }}
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">
    <ion-item>
      <ion-label stacked>{{ 'ROLE.NAME' | translate }}</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>{{ 'ROLE.DESCRIPTION' | translate }}</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>{{ 'ROLE.AUTHORITIES' | translate }}</ion-label>
      <ion-select 
        okText="{{ 'BUTTON.OK' | translate }}" 
        cancelText="{{ 'BUTTON.CANCEL' | translate }}" 
        formControlName="authorities"
        [compareWith]="compareAuthority"
        multiple="true">
        <ion-option *ngFor="let authority of authorities" [value]="authority">{{authority.description}}</ion-option>
      </ion-select>
    </ion-item>
  </form>
</ion-content>